/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

.form-row {
  padding: 10px 0;
}

table {
  margin-top: 50px;
  border: 1px solid white;
}

th,
td,
tr,
thead,
tbody {
  border: 1px solid white;
  padding: 5px;
}
